.App{
     margin: 0;
      padding: 0;
      overflow: hidden;
      height: fit-content;
      background: radial-gradient(ellipse at bottom, var(--primary-color) 0%, black 100%);
    }
.App > * {
  position: relative;
  z-index: 1;
}
.lookpage{
  height: 100vh;
}
@media (max-width: 769px) {
  .lookpage {
    height: fit-content;
  }
}
 